[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
mypy = "*"
flake8 = "*"

[packages]
requests = "*"
python-telegram-bot = "*"
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
patool = "*"
pyspectra = {git = "https://github.com/it-scientists/pyspectra.git"}

[requires]
python_version = "3.6"
